<!DOCTYPE html>
<html>
<head>
  <title><%= "PressMe" %></title>
  <%= stylesheet_link_tag    "application", controller_name, media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "app", controller_name, "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if posts? %>
  <%= yield  %>
<% else %>
  <%= render 'content_none' %>
<% end %>

</body>
</html>
